:root{
  --firstColor: #DCE4F2;
  --secondColor: #0487D9;
  --thirdColor: #0477BF;
  --fourthColor: #A0D3F2;
  --fifthColor: #049DD9;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body{
  background-color: var(--secondColor);
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* START SECTION */
.start{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 3rem 1rem 3rem;
  margin: 5rem 0rem 5rem 0;
  width: 50%;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  color: var(--secondColor);
  background-color: var(--firstColor);
  box-shadow: 7px 7px 29px rgba(0, 0, 0, 0.5);
}

.title{
  font-size: 3rem;
  font-weight: bold;
  color: var(--secondColor);
  margin: 0 auto;
  padding-bottom: .5rem;
  border-bottom: 2px solid var(--secondColor);
}

.welcome{
  font-size: 1.3rem;
  margin: 0 auto;
  padding: 2rem 0 1rem;
}
.info{
  font-size: 1.1rem;
  padding-bottom: 1rem;
}
.info_last{
  align-self: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.start_image{
  width : 100%;
  max-width: 400px;
  padding-bottom: 1rem;
  margin: auto;
  display: block;
}
.btn_container {
  margin: 20px 0;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.start_btn{
  float:left;
	width: 100%;
	max-width:500px;
	border:  solid 4px var(--fifthColor);
	cursor: pointer;
	background-color: var(--firstColor);
	margin-top: -4px;
	color: var(--fifthColor);
	text-transform: uppercase;
	font-size: 20px;
  font-weight: bold;
	letter-spacing: .1em;
	padding-top: 22px;
	padding-bottom: 22px;
	font-weight: 500;
	transition: all 0.3s;
}
.start-text{
  margin : 0 0.5rem 0 0.5rem;
}
.start_btn:hover{
  background-color:var(--fifthColor);
  color: var(--firstColor);
  box-shadow: inset 0 0 0 20px var(--fifthColor), 0 0 20px var(--fifthColor);
}


/* QUIZ SECTION */
.quiz{
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  border: 1px solid var(--firstColor);
  background-color: var(--firstColor);
  font-size: 1.2rem;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  padding: 0.7rem 1.8rem 0.7rem 1.8rem;
  margin: 8rem 0rem 8rem 0;
  width: 50%;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid var(--secondColor);
}
.score{
  width: 20%;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: var(--fourthColor);
  margin-left: auto;
  font-size:1rem;
  text-align: center;
}

.section{
  display: flex;
  flex-direction: column;
}
.question{
  font-size: 1.3rem;
  font-weight: bold;
}

div.options{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.options{
  margin-bottom: 0.5rem;
  padding: 0.7rem;
  border-radius: 0.3rem;
  border: 2px solid var(--secondColor);
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: normal;
}
.options.valid {
  border: 2.1px solid rgba(8, 179, 122, 0.986);
}
.options.invalid {
  border: 2.1px solid rgba(238, 32, 17, 0.973);
}
input[type="radio"]{
  margin-right: 0.5rem;
}
input[type="checkbox"]{
  margin-right: 0.5rem;
}


footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.7rem;
  border-top: 1px solid var(--secondColor);
}
.progress{
  width: 20%;
  border-radius: 5px;
  padding: 0.5rem;
  font-size:1.2rem;
  text-align: center;

}
input[type="radio"], .options {
  display: inline-block;
}
.options {
  display: block;
}
button.validate_btn{
  width: 100%;
  border-radius: 5px;
  border: 2px solid var(--fifthColor);
  background-color: var(--fifthColor);
  margin-left: auto;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: .1em;
  font-weight: bold;
  color: var(--firstColor);
}
button.validate_btn:hover{
  background-color: var(--firstColor);
  color: var(--fifthColor);
}

button.next_btn{
  width: 100%;
  border-radius: 5px;
  border: 2px solid var(--fifthColor);
  background-color: var(--fifthColor);
  margin-left: auto;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: .1em;
  font-weight: bold;
  color: var(--firstColor);
}
button.next_btn:hover{
  background-color: var(--firstColor);
  color: var(--fifthColor);
}


/* END SECTION */
.end{
  display: flex;
  border-radius: 1rem;
  border: 1px solid var(--firstColor);
  background-color: var(--firstColor);
  font-size: 1.1rem;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  margin: 8rem 0rem 8rem 0;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.end_title{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  align-self: center;
  color: var(--fifthColor);
  text-transform: uppercase;
}

.end_image{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-top: 1px solid var(--secondColor);
  padding: 1rem 0 1rem;
}
.end_image img{
  width: 100%;
  height: 100%;
}

.end_info{
  align-self: center;
  font-size: 1.5rem;
  padding: 1rem 0 1rem;
  margin-top: 1.6rem;
}
.end_score{
  align-self: center;
  font-size: 1.5rem;
  padding: 1rem 0 1rem;
  margin-bottom: 2rem;
}

.end_buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--secondColor);
  padding: 1rem 0 0 0;
}
button.restart{
  width: 100%;
  border-radius: 5px;
  border: 2px solid var(--fifthColor);
  background-color: var(--fifthColor);
  margin-left: auto;
  margin-right: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: .1em;
  font-weight: bold;
  color: var(--firstColor);
  transition:all .5s ease-in-out;
}
button.restart:hover{
  background-color: var(--firstColor);
  color: var(--fifthColor);
  border:2px solid var(--fifthColor);
  font-size:17px;
}
button.quit{
  width: 100%;
  border-radius: 5px;
  border: 2px solid var(--fifthColor);
  background-color: var(--fifthColor);
  margin-right: auto;
  margin-left: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: .1em;
  font-weight: bold;
  color: var(--firstColor);
  transition:all .5s ease-in-out;
}
button.quit:hover{
  background-color: var(--firstColor);
  color: var(--fifthColor);
  border:2px solid var(--fifthColor);
  font-size:17px;
}



.hide {
  display:none;
}

/* MEDIA QUERIES */
@media (max-width: 500px) {
  .title{
    font-size: 2rem;
    text-align: center;
  }
  .score{
    font-size: 0.5rem;
  }
  .progress{
    font-size: 0.5rem;
  }
}
@media (max-width: 800px) {
  .score{
    font-size: 0.6rem;
  }
  .progress{
    font-size: 0.6rem;
  }
}
