:root{
  --firstColor: #DCE4F2;
  --secondColor: #0487D9;
  --thirdColor: #0477BF;
  --fourthColor: #A0D3F2;
  --fifthColor: #049DD9;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  html, body{
    height: 100%;
}

body{
  background-color: var(--secondColor);
  font-family: 'Gratelos Display', 'Coolvetica', 'Roboto', sans-serif;
}

